:root {
  --background: #232324;
  --black: #201F1F;
  --purple: #8752CC;
  --gray: #B2B2B2;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html::-webkit-scrollbar {
  width: 0.4rem;
  height: 2em;
  margin-left: 3rem;
}

html::-webkit-scrollbar-button {
  background: transparent;
}

html::-webkit-scrollbar-track-piece {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 5px;
}